h1 {
text-align: center;
color: #610EA2;

}

p {
  color: #7C21C3;
}

h2 {
  color: #610EA2;
  text-align: left;
  outline-style: double;
  outline-color: #610EA2;
}

div {
  background-color: #B180D8;
  height: 100px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  outline-style: double;
  outline-color: #610EA2;
}

body {
  background-color: #CCA9E8;
}

footer {
  color: #7C21C3;
  text-align: center;
}

button {
  color: #610EA2;
  background-color: #B180D8;
  border: double;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

img {
  align-content: center;
}
